@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Allan&family=Rammetto+One&display=swap");
body, html {
    padding: 0;
    margin: 0;
  }

/*Font-Styling*/
body{
    font-family: "Rammetto One", cursive;
    text-transform: uppercase;
    overflow-x: hidden;
}

/*Background: Video Style*/
#bgVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/*logo-container: img contained within*/
img{
    height: 100%;
    width: 100%;
}

/*THEALLIANCE Logo*/
.logo-container{
    position: relative;
    height: 10%;
    width: 10%;
    text-align: left;
    justify-content: center;
  }

/*Formatting Buttons*/
button{
    border: none;
    background: none;
    color: #ffffff;
    font-family: "Rammetto One", cursive;
    text-transform: uppercase;
}

/*Centering Buttons in the middle and positioning*/
.header{
    padding-top: 50vh;
    position: relative;
    text-align: center;
    justify-content: center;
}

#join-us{
    margin-top: 10vh;
    margin-left: 45vw;
    border: solid;
    position: relative;
    text-align: center;
    justify-content: center;
}

#EM{
    margin-right: 10vw;
}

#VM{
    margin-right: 10vw;
}