/*Holds woods image*/
body{
    /*Image used*/
    background-image: url(images/woods.jpg);

    /*Half Height*/
    height: 60%;

    /*Center and scale the image*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}