@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Allan&family=Rammetto+One&display=swap");
body, html {
    padding: 0;
    margin: 0;
  }

/*Font-Styling*/
body{
    font-family: "Rammetto One", cursive;
    text-transform: uppercase;
    overflow-x: hidden;
}

/*logo-container: img contained within*/
img{
    height: 100%;
    width: 100%;
}

/*Video Style*/
#bgVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/*THEALLIANCE Logo*/
.logo-container{
    position: relative;
    height: 10%;
    width: 10%;
    text-align: left;
    justify-content: center;
  }